/* =============
    Base
============= */
h1{font-family: 'Concert One', cursive;}
h2{font-family: 'Raleway', sans-serif;}
p{font-family: 'Raleway', sans-serif;}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}