/* =============
    Hero 3 aka Section 3
============= */
#hero-3{
    display: grid;
    grid-template-areas: ".section-3";
    padding: 10px;
    margin: 10px;
    

    >div {
        grid-area: section-3;
        ul {
            display: grid;
            gap: 18px;
            grid-template-areas: 
            "#coco"
            "#jelly"
            "#classic"
            "#single"
            "#orange"
            ;

            @include md {
                grid-template-columns: 50% auto;
                grid-template-areas: 
                "#coco #jelly"
                "#classic #single"
                "#orange #orange";
            }
            @include lg {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: 
                "#coco #jelly #classic"
                " #single #orange"
                ;
            }
        }

    }
}
#coco{
    background-color: #FFEDDB;
    padding: 10px;
    
}
#jelly{
    background-color: #FFEDDB;
    padding: 10px;
}
#classic{
    background-color: #FFEDDB;
    padding: 10px;
}
#single{
    background-color: #FFEDDB;
    padding: 10px;
}
#orange{
    background-color: #FFEDDB;
    padding: 10px;
}